<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="twitterRestService" type="Twitter.RestService.TwitterRestServiceConfiguration.TwitterRestServiceConfiguration" />
    </configSections>
    <twitterRestService endpointurl="https://api.twitter.com/1.1" consumerkey="" consumersecret="" />
</configuration>
